<a href="https://colab.research.google.com/github/LeeLee-ai/Lee/blob/main/4_1_practice_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1.(for)
## for 문을 이용하여 1부터 입력받은 정수까지의 합을 구하여 출력하는 프로그램을 작성하시오.
- 100 이하의 양의 정수만 입력된다. 
- 입력 예: 10
- 출력 예: 55

In [ ]:
number = 0
number2 = int(input('정수를 입력하시오:'))
if number2>=0 and number2<=100 :
  for num in range(0,number2+1):
    number = number + num
  print(number)

정수를 입력하시오:10
55

# 문제 2.
## 정수를 계속 입력받다가 100 이상의 수가 입력이 되면 마지막 입력된 수를 포함하여 합계와 평균을 출력하는 프로그램을 작성하시오.

- 평균은 반올림하여 소수 첫째자리까지 출력한다.

In [ ]:
number = int(input('정수를 입력하십시오:'))
number2 = 0
count = 0
while number<=101:
  number2 = number2 + number
  number = number+1
  count = count+1
print(number2)
average = number2/count
print(round(average,1))

정수를 입력하십시오:12
5085
56.5

# 문제 3.
## 정수를 입력받아서 3의 배수가 아닌 경우에는 아무 작업도 하지 않고, 3의 배수인 경우에는 3으로 나눈몫을 출력하는 작업을 반복하다가 -1이 입력되면 종료하는 프로그램을 작성하시오.
예시:
- 5
- 12 
- <h2>4</h2>
- 21
- <h2>7</h2>
- 100
- -1

In [ ]:
prime = int(input('정수를 입력하시오:'))
while prime%3==0:
  print(prime//3)
  prime = int(input('정수를 하나 더 입력하십시오:'))

정수를 입력하시오:12
4
정수를 하나 더 입력하십시오:21
7
정수를 하나 더 입력하십시오:100

# 보너스(for)
## 아래와 같은 모양으로 출력하는 프로그램을 작성하시오.
 - 사용자에게 숫자를 입력받아 입력 받은 높이 만큼의 삼각형을 출력하시오.
 - 입력 예: 5

In [ ]:
    *
   **
  ***
 ****
*****

In [ ]:
triangle = int(input('삼각형 밑변 길이를 입력하시오:'))
num = 1
nu = triangle-1
while num<=triangle and nu>=0:
  print(' '*nu, '*'*num)
  num = num + 1
  nu = nu-1

삼각형 밑변 길이를 입력하시오:5
     *
    **
   ***
  ****
 *****

# 문제 4. 
## 아래와 같이 나라 이름을 출력하고 숫자를 입력받아 해당하는 나라의 수도를 출력하는 작업을 반복하다가 해당하는 번호 이외의 숫자가 입력되면 "none"라고 출력한 후 종료하는 프로그램을 작성하시오.

* 각 나라의 수도 : 
- 대한민국 = 서울(Seoul)
- 미국 = 워싱턴(Washington)
- 일본 = 동경(Tokyo)
- 중국 = 북경(Beijing)

예시
입력 예:
1. Korea
2. USA
3. Japan
4. China
number? 1

출력 예:
Seoul

1. Korea
2. USA
3. Japan
4. China
number? 5

none

In [ ]:
print('1.korea')
print('2.U.S.A')
print('3.Japan')
print('4.China')
number = int(input('숫자를 입력하시오:'))
while number<5:
  if number==1:
    print('Seoul')
  elif number==2:
    print('Washington')
  elif number==3:
    print('Tokyo')
  elif number==4:
    print('China')
  number = int(input('숫자를 입력하시오:'))

1.korea
2.U.S.A
3.Japan
4.China
숫자를 입력하시오:1
Seoul
숫자를 입력하시오:3
Tokyo
숫자를 입력하시오:2
Washington
숫자를 입력하시오:4
China
숫자를 입력하시오:5

# 문제 5.
## 0 이상의 정수들이 공백으로 구분되어 반복적으로 주어진다. 0이 입력되면 반복문을 멈추고 그 전까지 입력받은 수들에 대하여 홀수의 개수와 짝수의 개수를 출력하는 프로그램을 작성하시오.
- 입력 예: 9 7 10 5 33 65 0
- 출력 예: 
 odd : 5
 even : 1

In [ ]:
lists = 1
counts = 0
counts2 = 0
while lists>=1:
  lists = int(input('수를 입력하십시오'))
  if lists%2==0 and lists!=0:
    counts = counts+1
  elif lists%2==1 and lists!=0:
    counts2=counts2+1
print('odd:',counts2, 'even', counts)

수를 입력하십시오9
수를 입력하십시오7
수를 입력하십시오10
수를 입력하십시오5
수를 입력하십시오33
수를 입력하십시오65
수를 입력하십시오0
odd: 5 even 1

# 문제 6.
## 삼각형의 밑변의 길이와 높이를 입력받아 넓이를 출력하고, "Continue? "에서 하나의 문자를 입력받아 그 문자가 'Y' 나 'y' 이면 작업을 반복하고 다른 문자이면 종료하는 프로그램을 작성하시오.

- 넓이는 반올림하여 소수 첫째자리까지 출력한다.
예시
###### Base = 11
###### Height = 5
###### Triangle width = 27.5
###### Continue? Y
###### Base = 10
###### Height = 10
###### Triangle width = 50.0
###### Continue? N

In [ ]:
base= float(input('삼각형의 밑변의 길이를 입력하시오:'))
height = float(input('삼각형의 높이의 길이를 입력하시오:'))
triangle_width = base*height/2
print(triangle_width)
Continue = input('continue?')
while Continue=='Y' or Continue=='y':
  base=float(input('삼각형의 밑변의 길이를 입력하시오'))
  height = float(input('삼각형의 높이의 길이를 입력하시오:'))
  triangle_width = base*height/2
  print(triangle_width)
  Continue = input('continue?')

삼각형의 밑변의 길이를 입력하시오:11
삼각형의 높이의 길이를 입력하시오:5
27.5
continue?y
삼각형의 밑변의 길이를 입력하시오10
삼각형의 높이의 길이를 입력하시오:10
50.0
continue?n

# 문제 7.(for)
## 100 이하의 두 개의 정수를 입력받아 작은 수부터 큰 수까지 차례대로 출력하는 프로그램을 작성하시오.
- 입력 예: 5 10
- 출력 예: 5 6 7 8 9 10

In [ ]:
number = input('정수들을 입력하시오:')
number2 = number.split(',')
number3 = int(number2[0])
number4 = int(number2[1])
for num in range(number3,number4+1):
  print(num,end=' ')

정수들을 입력하시오:5,10
5 6 7 8 9 10

# 문제 8.(for)
## 두 개의 정수를 입력받아 두 정수 사이(두 정수를 포함)에 3의 배수이거나 5의 배수인 수들의 합과 평균을 출력하는 프로그램을 작성하시오.
- 평균은 반올림하여 소수 첫째자리까지 출력한다.
- 입력 예: 10 15
- 출력 예: 
sum : 37
avg : 12.3

In [ ]:
prime = input('정수 두 개를 입력하십시오:')
prime2 =prime.split(',')
prime3 = int(prime2[0])
prime4 = int(prime2[1])
count = 0
num2 = 0
for num in range(prime3,prime4+1):
  if num%3==0 or num%5==0:
    num2 = num2+num
    count = count + 1
average = round(num2/count,1)
print('sum :',num2,'avg :',average)

정수 두 개를 입력하십시오:10,15
sum : 37 avg : 12.3

# 문제 9. (for)
## 2부터 9까지의 수 중 2개를 입력받아 입력받은 수 사이의 구구단을 출력하는 프로그램을 작성하시오.
- 단 반드시 먼저 입력된 수의 구구단부터 아래의 형식에 맞게 출력하여야 한다.
- 구구단 사이의 공백은 3칸이다.
- 입력 예: 5 3
- 출력 예:
5 * 1 =  5   4 * 1 =  4   3 * 1 =  3
5 * 2 = 10   4 * 2 =  8   3 * 2 =  6
5 * 3 = 15   4 * 3 = 12   3 * 3 =  9
5 * 4 = 20   4 * 4 = 16   3 * 4 = 12
5 * 5 = 25   4 * 5 = 20   3 * 5 = 15
5 * 6 = 30   4 * 6 = 24   3 * 6 = 18
5 * 7 = 35   4 * 7 = 28   3 * 7 = 21
5 * 8 = 40   4 * 8 = 32   3 * 8 = 24
5 * 9 = 45   4 * 9 = 36   3 * 9 = 27

In [ ]:
numbers = input('구구단 단수 두개를 입력하시오:')
numbers2 = numbers.split(',')
numbers3 = int(numbers2[0])
numbers4 = int(numbers2[1])
i = 1
x = numbers3
while x>numbers4 and i<=9 :
  results = x * i
  print(x,'*',i,'=',results)
  x = x-1
  if x==numbers4 :
    results = x * i
    print(x,'*',i,'=',results)
    x = numbers4 + (numbers3-numbers4)
    i = i + 1
    if i==10:
      break
    results = x * i
    print(x,'*',i,'=',results)
    x = x-1

구구단 단수 두개를 입력하시오:5,3
5 * 1 = 5
4 * 1 = 4
3 * 1 = 3
5 * 2 = 10
4 * 2 = 8
3 * 2 = 6
5 * 3 = 15
4 * 3 = 12
3 * 3 = 9
5 * 4 = 20
4 * 4 = 16
3 * 4 = 12
5 * 5 = 25
4 * 5 = 20
3 * 5 = 15
5 * 6 = 30
4 * 6 = 24
3 * 6 = 18
5 * 7 = 35
4 * 7 = 28
3 * 7 = 21
5 * 8 = 40
4 * 8 = 32
3 * 8 = 24
5 * 9 = 45
4 * 9 = 36
3 * 9 = 27

# 보너스2 (for)
## 아래와 같은 모양으로 출력하는 프로그램을 작성하시오.
 - 사용자에게 숫자를 입력받아 입력 받은 높이 만큼의 삼각형을 출력하시오.
 - 입력 예: 5

In [ ]:
*****
 ****
  ***
   **
    *

In [ ]:
triangle = int(input('역삼각형 윗변 길이를 입력하시오:'))
num = 0
while triangle>0 and num>=0 :
  print(' '*num, '*'*triangle)
  triangle = triangle-1
  num = num+1

역삼각형 윗변 길이를 입력하시오:5
 *****
  ****
   ***
    **
     *