<a href="https://colab.research.google.com/github/LeeLee-ai/Lee/blob/main/4_2_practice_loop2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 1.
## 1부터 100까지의 정수 중 한 개를 입력받아 100 보다 작은 배수들을 차례로 출력하다가 10 의 배수가 출력되면 프로그램을 종료하도록 프로그램을 작성하시오.
- 입력 예: 7
- 출력 예: 7 14 21 28 35 42 49 56 63 70

In [ ]:
number = int(input('숫자를 입력하시오:'))
for num2 in range(1,11):
  if number<100 :
    num3 = number * num2
    print(num3,end=' ')

숫자를 입력하시오:7
7 14 21 28 35 42 49 56 63 70

입력: 13
출력: 13 26 39 52 65 78 91

입력: 13
출력: 13 26 39 52 65 78 91

# 문제 2.
## 자연수 n을 입력받아 "출력 예"와 같이 공백으로 구분하여 출력하는 프로그램을 작성하시오.
- 입력 예: 3

In [ ]:
    1
  1 2
1 2 3

    1
  1 3
1 3 5

In [ ]:
number = int(input('숫자를 입력하시오:'))
e = 2*(number-1) # e = 4
o = number-1 # o = 2
for i in range(0,e+1,2): #  0~5 ,2 칸
  x = e-i 
  print(' '*x, end='')
  if o<=number+1:
    for j in range(1,o):
      print(str(j),end=' ')
    o = o + 1
    print()

숫자를 입력하시오:3
    1
  1 2
1 2 3

In [ ]:
number = int(input('숫자를 입력하시오:'))
e = number-1
o = 2
for i in range(0,e+1,2) :
  x = e-i
  print(' '*x,end='')
  if o<=number+1:
    for j in range(1,o,2):
      print(str(j),end=' ')
    o = o + 2
    print()

숫자를 입력하시오:5
    1
  1 3
1 3 5

# 문제 3.
## 자연수 n을 입력받아 "출력 예"와 같이 공백으로 구분하여 출력되는 프로그램을 작성하시오.
- 입력 예 : 3

In [ ]:
1 2 3
  4 5
    6
    
1 3 5
  7 9
    11

In [ ]:
number = int(input('숫자를 입력하시오:'))
n = number-1
u = number+n
u2 = number+n
lists = [u2,number]
i = 0
e = 0
for o in range(number-2,0,-1):
  u = u + o
  lists.append(u)
for num in range(1,u+1):
  print(' '*i,num,end='')
  if num in lists:
    i = i + 2 + e
    print()
    e = e + 2
  else:
    i = 0

숫자를 입력하시오:3
 1 2 3
   4 5
     6

In [ ]:
number = int(input('숫자를 입력하시오:'))
n = number-1
u = number+n
u2 = number+n
lists = [number,u2]
i = 0
e = 0
for o in range(number-3,0,-2):
  u = u + o
  lists.append(u)
for num in range(1,u+1,2):
  print(' '*i,num,end='')
  if num in lists:
    i = i + 2 + e
    print()
    e = e + 2
  else:
    i = 0

숫자를 입력하시오:5
 1 3 5
   7 9
     11

# 문제 4.
## 10개의 정수를 입력받아 100 미만의 수 중 가장 큰 수와 100 이상의 수 중 가장 작은 수를 출력하는 프로그램을 작성하시오.
- List 데이터 구조를 활용하시오.
- 입력 예: 88 123 659 15 443 1 99 313 105 48
- 출력 예: 99 105

In [ ]:
number_list=input('숫자를 입력하시오')
lists = number_list.split(' ')
lists = list(map(int,lists))
a = []
b = []
for num in lists:
  if num>=100:
    a.append(num)
  else:
    b.append(num)
minivalue = a[0]
for i in range(1,len(a)):
  if a[i]<minivalue:
    minivalue = a[i]
print(minivalue)
maxvalue = b[0]
for e in range(1,len(b)):
  if maxvalue<b[i]:
    maxvalue = b[i]
print(maxvalue)

숫자를 입력하시오99 88 105 106
105
99

# 문제 5.
## 리스트을 선언한 후 정수를 차례로 입력 받다가 -1이 입력되면 입력을 중단하고, -1을 제외한 마지막 세 개의 정수를 출력하는 프로그램을 작성하시오. 
- 입력받은 정수가 -1을 제외하고 3개 미만일 경우에는 -1을 제외하고 입력받은 정수를 모두 출력한다.
- 입력 예: 30 20 10 60 80 -1
- 출력 예: 10 60 80

In [ ]:
number = []
num = int(input('숫자를 입력하시오:'))
while num>0:
  number.append(num)
  num = int(input('숫자를 입력하시오:'))
for i in range(len(number)-1,len(number)-4,-1):
  print(number[i],end=' ')

숫자를 입력하시오:30
숫자를 입력하시오:20
숫자를 입력하시오:10
숫자를 입력하시오:60
숫자를 입력하시오:80
숫자를 입력하시오:-1
80 60 10

# 문제 6. 
## 사용자에게 base문자열을 첫 줄에 입력받고,  다음으로 찾고자하는 문자 1개를 입력받아 문자열 내의 검색 문자의 모든 위치를 출력하는 프로그램을 작성하시오.
- 첫 번째 위치는 0번이며 리스트에 없는 문자가 입력되면 "none" 라는 메시지를 출력하고 끝내는 프로그램을 작성하시오.
- 예제: "my name is dean" 을 base 문자열로 입력하고, 찾고자 하는 문자를 'd'로 입력하면 11을 출력해주면 된다.
- 만약, 찾으려는 문자가 2개 이상인 경우에는 모든 위치를 출력해준다.

In [ ]:
sentence = input('문장을 입력하십시오:')
letter = input('찾고자 하는 문자를 입력하십시오:')
num = []
for i in range(0,len(sentence)-1):
  if sentence[i]==letter:
    num.append(i)
if num==[]:
  print('none')
else:
  print(num)

문장을 입력하십시오:my name is dean
찾고자 하는 문자를 입력하십시오:a
[4, 13]

입력 문자열: my name is dean
찾고 싶은 문자: a
[4, 13]

# 문제 7.
## 학생들의 점수를 입력을 받다가 0이 입력되면 그 때까지 입력받은 점수를 10점 단위로 구분하여 점수대별 학생 수를 출력하는 프로그램을 작성하시오. 
- 1명도 없는 점수는 출력하지 않는다.
- 입력 예: 63 80 95 100 46 64 88 0

In [ ]:
출력 예: 
100 : 1 person
90 : 1 person
80 : 2 person
60 : 2 person
40 : 1 person

In [ ]:
score = int(input('학생의 점수를 입력하시오:'))
lists = []
hund=0
nine=0
eighty=0
sixty=0
fourty=0
drop=0
while score<=100 and score>0:
  lists.append(score)
  score = int(input('학생의 점수를 입력하시오:'))
for i in lists:
  if i==100:
    hund=hund+1
  elif i<100 and i>=90:
    nine=nine+1
  elif i<90 and i>=80:
    eighty=eighty+1
  elif i<80 and i>=60:
    sixty=sixty+1
  elif i<60 and i>=40:
    fourty=fourty+1
  else:
    drop=drop+1
print('100점대:',hund,'명')
print('90점대:',nine,'명')
print('80점대:',eighty,'명')
print('60점대:',sixty,'명')
print('40점대:',fourty,'명')
print('낙제:',drop,'명')

학생의 점수를 입력하시오:83
학생의 점수를 입력하시오:23
학생의 점수를 입력하시오:63
학생의 점수를 입력하시오:0
100점대: 0 명
90점대: 0 명
80점대: 1 명
60점대 1 명
40점대 0 명
낙제 1 명
[83, 23, 63]

# 문제 8.
## 소수(prime number)란 1보다 큰 자연수 중 1과 자기 자신 두 개만을 약수로 갖는 수를 말한다. 
- 자연수 M과 N을 입력받아 M부터 N까지 소수의 개수를 구하여 출력하는 프로그램을 작성하시오.
- M이상 N이하의 자연수 중 소수가 몇 개인지 구하여 출력한다.
- 입력 예: 10 100
- 출력 예: 21

In [ ]:
M = int(input('숫자를 입력하시오:'))
N = int(input('숫자를 입력하시오:'))
prime = 0
Prime = 0
r=M
b = []
while r>=M and r<=N:
  for i in range(2,r):
    b.append(i)
  for e in range(0,len(b)):
    if r%b[e]!=0:
      Prime = Prime + 1
  if Prime==len(b):
    prime = prime + 1
  r = r + 1
  Prime = 0
print(prime)

숫자를 입력하시오:12
숫자를 입력하시오:100
20

# 보너스
## 자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최소값을 찾는 프로그램을 작성하시오.

- 예를 들어 M=60, N=100이 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 
- 이들 소수의 합은 620이고, 최소값은 61이 된다.

In [ ]:
M = int(input('숫자를 입력하시오:'))
N = int(input('숫자를 입력하시오'))
lists = []
c = 0
lists2=[]
for num in range(M,N+1):
  for num2 in range(2,M):
    lists.append(num2)
  for num3 in range(0,len(lists)):
    if M%lists[num3]==0:
      break
    else:
      if lists[num3]==M-1:
        if M%lists[num3]!=0:
          lists2.append(M)
          c = c + M
      else:
        continue
  M = M + 1
print(c)
minivalue=lists2[0]
for i in lists2:
  if i<minivalue:
    minivalue=i
print(minivalue)
print(lists2)

숫자를 입력하시오:60
숫자를 입력하시오100
620
61
[61, 67, 71, 73, 79, 83, 89, 97]

# 문제 9.
## 아래의 결과를 보이도록 프로그램을 작성하시오.

In [ ]:
   *
  ***
 *****
*******

In [ ]:
baseLine=int(input('input the length of base line'))
e = baseLine//2
for i in range(1,baseLine+1,2):
  print(' '*e,'*'*i)
  e = e - 1

input the length of base line9
     *
    ***
   *****
  *******
 *********

# 문제 10.
## 아래의 피라미드 모형을 출력하시오.
- 출력 결과에서 #은 공백(space)로 처리해도 됨.

In [ ]:
###*###
##***##
#*****#
*******
#*****#
##***##
###*###

In [ ]:
 *
***
 *

In [7]:
middleLine = int(input('input the length of middleline:'))
e = middleLine//2
u = 1
for i in range(1,middleLine+1,2):
  print(' '*e,'*'*i)
  e = e - 1
for i2 in range(middleLine-2,0,-2):
  print(' '*u,'*'*i2)
  u = u + 1

input the length of middleline:7
    *
   ***
  *****
 *******
  *****
   ***
    *

# 보너스2
## 삼각형의 높이 N을 입력받아서 아래와 같이 문자 'A'부터 차례대로 왼쪽 대각선으로 채워서 삼각형 모양을 출력하는 프로그램을 작성하시오.
- 입력 예 : 5

In [ ]:
        A
      B F
    C G J
  D H K M
E I L N O

In [1]:
height = int(input('input the height:'))
l = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
lists = list(l)
o = (height-1)*2
a = height-1
pr = 0
r = 0
q = 0
u = 2
for b in range(1,height+1):
  q+=1
for i in range(0,q):
  if i==0:
    print(' '*o,lists[i])
  else:
    print(' '*(o-u),lists[i],end=' ')
    for e in range(a,0,-1):
      r+=e
      print(lists[i+r],end=' ')
      pr+=1
      if pr==i:
        print()
        break
    pr = 0
    r=0
    u+=2

input the height:5
         A
       B F
     C G J
   D H K M
 E I L N O

In [ ]:
#pr=0위치
#u+=2위치

# 문제 11.
## 2진수를 입력받아 10진수로 변환하여 출력하는 프로그램을 작성하시오.
- 입력 예: 10101
- 출력 예: 21

In [ ]:
two = input('이진수를 입력하시오:')
num = len(two)-1
num2 = 0
two3 = 0
while num>=0 and num2<len(two) :
  two2 = 2 ** num * int(two[num2])
  two3 = two2 + two3
  num = num-1
  num2 = num2+1
print(two3)

이진수를 입력하시오:10101
21

# 문제 12.

## 복호화 키와 암호 문자를 입력으로 받아 원문을 구하는 프로그램을 구현하시오. 복호화 키는 26개의 소문자로 주어지며, a,b,c,d... 를 순서대로 복호화 키 문자로 대치한다는 것을 뜻한다.

 

- 예를 들어, 복호화 키가 "eydbkmiqugjxlvtzpnwohracsf" 와 같이 주어진다고 하자, 

- 그러면 이는 다음과 같다 - a 문자는 e, b 문자는 y, ..., z 문자는 f로 바꿔줌.

- 암호화 된 문자는 대소문자 혹은 공백이 올수 있고 대소문자는 대문자로 소문자는 소문자로 치환 규칙에 맞게 출력하고 , 

- 공백문자는 그대로 출력한다.

- 입력 예: 
- eydbkmiqugjxlvtzpnwohracsf
- Kifq oua zarxa suar bti yaagrj fa xtfgrj
- 출력 예:
- Jump the fence when you seeing me coming

In [ ]:
dycrpte = input('복호화 키를 입력하시오:')
lists = list(dycrpte)
encode = input('암호문자를 입력하시오')
dycrpte2 = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
lists2 = list(dycrpte2)
str1=''
for i in range(0,len(encode)):
  if encode[i] in lists:
    e = lists.index(encode[i])
    str1+=lists2[e]
  elif encode[i]==' ':
    str1+=' '
print(str1)

복호화 키를 입력하시오:bcdefghijklmnopqrstuvwxyzaBCDEFGHIJKLMNOPQRSTUVWXYZ
암호문자를 입력하시오Kvnq Uif Gfodf
Jump The Fence

# diamond code

Enter a floor of diamond(odd)[quit: -1]: 3
  *
 ***
  *
Enter a floor of diamond(odd)[quit: -1]: 1
*
Enter a floor of diamond(odd)[quit: -1]: 5
    *
   ***
  *****
   ***
    *
Enter a floor of diamond(odd)[quit: -1]: 7
      *
     ***
    *****
   *******
    *****
     ***
      *
Enter a floor of diamond(odd)[quit: -1]: -1

In [22]:
mid = int(input('Enter a floor of diamond(odd):'))
e = mid//2
b = 1
if mid == 1:
  print('*')
else :
  for i in range(1,mid+1,2):
    print(' '*e, '*'*i,end='')
    print()
    e = e-1
  for a in range(mid-2,0,-2):
    print(' '*b,'*'*a,end='')
    print()
    b = b+1

Enter a floor of diamond(odd):7
    *
   ***
  *****
 *******
  *****
   ***
    *

In [17]:
b = 1
print(' '*b,'h')

  h

mid: 0
*
==================
mid: 1
 *
***
 *
==================
mid: 2
  *
 ***
*****
 ***
  *
==================
mid: 3
   *
  ***
 *****
*******
 *****
  ***
   *
==================
mid: 4
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
==================